<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangmenglong.platform.mapper.DnsDomainNameWithUserMapper">
    
    <resultMap type="DnsDomainNameWithUser" id="DnsDomainNameWithUserResult">
        <result property="userId"    column="user_id"    />
        <result property="domainNameId"    column="domain_name_id"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectDnsDomainNameWithUserVo">
        select user_id, domain_name_id, status from dns_domain_name_with_user
    </sql>

    <select id="selectDnsDomainNameWithUserList" parameterType="DnsDomainNameWithUser" resultMap="DnsDomainNameWithUserResult">
        <include refid="selectDnsDomainNameWithUserVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="domainNameId != null "> and domain_name_id = #{domainNameId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectDnsDomainNameWithUserByUserId" parameterType="Long" resultMap="DnsDomainNameWithUserResult">
        <include refid="selectDnsDomainNameWithUserVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertDnsDomainNameWithUser" parameterType="DnsDomainNameWithUser">
        insert into dns_domain_name_with_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="domainNameId != null">domain_name_id,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="domainNameId != null">#{domainNameId},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateDnsDomainNameWithUser" parameterType="DnsDomainNameWithUser">
        update dns_domain_name_with_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="domainNameId != null">domain_name_id = #{domainNameId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteDnsDomainNameWithUserByUserId" parameterType="Long">
        delete from dns_domain_name_with_user where user_id = #{userId}
    </delete>

    <delete id="deleteDnsDomainNameWithUserByUserIds" parameterType="String">
        delete from dns_domain_name_with_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>